//////////////////////////цвета//////////////////////////

:root {
	--white: #fff;
	--backround: #11192c;
	--button-background: #283041;
	--svg-stroke: #b2b7c7;
	--light-blue: #7ea6ff;
	--blue: #286aff;
	--light-grey: #828ba5;
}
